#!/bin/bash

echo "yes"|redis-cli --cluster create \
{% for server in groups[redis_group] %}
{{ hostvars[server].ansible_default_ipv4.address }}:6379 \
{% endfor %}
--cluster-replicas {{ redis_cluster.replicas }}
